$data-table-border-radius: 0px;

$input-font-size: 14px;

$material-light: (
  cards: var(--v-themecolor-base),
  app-bar: var(--v-themecolor-base),
  toolbar: var(--v-themecolor-base),
  background: var(--v-themecolor-base),
  navigation-drawer: var(--v-themecolor-base)
);

$material-dark: (
  cards: var(--v-themecolor-base),
  app-bar: var(--v-themecolor-base),
  toolbar: var(--v-themecolor-base),
  background: var(--v-themecolor-base),
  navigation-drawer: var(--v-themecolor-base)
);

@import '~vuetify/src/styles/styles.sass';
