html {
  background-color: var(--v-background-base) !important;
  font-family: 'Segoe UI', segoeUI, Frutiger, 'Frutiger Linotype', 'Dejavu Sans',
    'Helvetica Neue', Arial, sans-serif !important;
  font-size: 14px !important;
}

.sk-cube-grid {
  width: 80px !important;
  height: 80px !important;
}

div[data-app='true'] {
  background-image: url('/img/bg-app.png') !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
}

.v-list-item__title,
.v-list-item__subtitle {
  white-space: normal !important;
}

.v-list-item__subtitle {
  font-size: 0.75rem !important;
}

.v-data-footer {
  margin: 0 !important;
}

.v-data-table {
  width: 100% !important;
}

.v-data-table table {
  border-spacing: 0 !important;
}

.v-data-table thead tr {
  height: 54px !important;
}

.v-data-table th {
  padding: 0 4px !important;
  text-transform: uppercase !important;
}

.v-data-table td {
  font-size: 0.75rem !important;
  padding: 0 4px !important;
}

.v-btn--icon {
  height: 36px !important;
  width: 36px !important;
}

.toasted {
  border-radius: 3px !important;
}

.toasted-container {
  max-width: 800px !important;
}
